{% extends "base.html" %}
{% block content  %}

<h1 class="myhead2">Contact Us</h1>
<div class="row m-4 ">
    <div class="col-sm-6">       
          <h3 class="well"><strong>Bethenga</strong></h3><br>
              <span class="fa fa-map-marker mr-1"></span><strong> Address:</strong>  In front of Jain Mandir, Near Ram Krishna Care Hospital, Dawada Colony, Pachpedhi Naka, Raipur, Chhattisgarh 492001<br><br>
<span class="fa fa-phone mr-1"></span><strong> Phone:</strong>   0771 4061010<br><br>
<span class="fa fa-print mr-1"></span><strong> Fax:</strong>   0771 4013120<br><br>
<span class="fa fa-envelope mr-1"></span> info@scch.co.in<br><br>
<span class="fa fa-globe mr-1"></span> http://www.scch.co.in</h3><br>
     </div>
    <div class="col-sm-6">        
    <h3>Enquiry</h3>
        <form method="post">            
            <input class="form-control" type="text" name="uname" placeholder="Name" /><br>
            <input class="form-control"  type="tel" name="phone" placeholder="Phone No" /><br>
            <textarea class="form-control" rows="4" name="msg" placeholder="Message"></textarea><br>
            <input class="btn btn-dark btn-block" type="submit" value="Submit"  /><br>
        </form>
    </div>

</div>
<div class="row" id="mymap">
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59501.19577805586!2d81.59968731795976!3d21.238797465344696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dda5d4cc8d07%3A0x9ed6532a6f04f63c!2sEffCon+Technologies!5e0!3m2!1sen!2sin!4v1554355531869!5m2!1sen!2sin"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>    
</div>


{% endblock %}


